<br>
<div>
    {{#commentDtos}}
        <div id="comments-{{id}}">
            <hr>
            <div>
                {{nickname}}
            </div>
            <hr>
            <div>
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>