<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#msg}}
    {{msg}}
    <button>X</button>
{{/msg}}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        {{#articleList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </thead>
</table>
<a href="/articles/new">New Article</a>
</body>
</html>